<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>零云</title>
    <link rel="icon" type="image/z-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/stylesheets/layer/layer.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        .wrapper {
            position: fixed;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #96d6f7
        }

        .contents {
            width: 100%;
            margin: 11% auto 0 auto;
            text-align: center;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .detail {
            text-align: center;
            font-size: 28px;
            color: #2276b7;
            margin-top: 30px;
        }

        .col-xs-12 ul {
            padding: 10px 0 10px 20px;
        }
    </style>
</head>
<body>
<header style="background: #5baded;">
    <nav id="main-nav" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        <span class="logo"></span>
                    </a>
                </div>
                <div class="navbar-collapse navbar-top-collapse collapse">
                    <ul class="na navbar-nav navbar-right user-navbar">
                        <!--<li class="header-actions">-->
                        <!--<a href="/" class="loge-img">-->
                        <!--<img src="/images/user-avatar.png" class="user-icon username" title="">-->
                        <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a id="login" href="/login" class="font-size" style="padding:5px 15px">登 录</a>
                        </li>
                        <li>
                            <a id="regist" class="font-size" style="padding:5px 15px;cursor: pointer">注 册</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right content-navbar">
                        <li>
                            <a href="javascript:void(0);">产品</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">价格</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">服务广场</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">社区</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">文档</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">关于</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="wrapper">
    <div class="contents">
        <img src="/images/404-1.png">
        <p class="detail">抱歉，服务器走神了，请重新访问</p>
    </div>
</div>

<footer>
    <section class="screen3">
        <p>广州市零空信息技术有限公司Copyright © 2016 版权所有</p>
        <p>粤ICP备15024287号-2</p>
    </section>
</footer>

<script>
    (function () {
        //期待更多
        $('.content-navbar li,#regist').on('click', function () {
            layer.msg('更多功能敬请期待！', {icon: 6});
        });
    })();
</script>
</body>
</html>