<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>零云 - 邀请码</title>
    <link rel="icon" type="image/z-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login-top.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div id="wrapper">
    <div class="form-login" style="height: 350px;">
        <div class="form-group">
            <div class="signup-title"
                 style="font-size:24px;height:150px;line-height:130px;color:#666;padding-top: 20px">
                <i class="fa fa-check note" style="color: #CC0033"></i>
                恭喜，成功获取零云注册邀请码</br>
                <span>
                <%= code %>
                </span>
            </div>
        </div>
    </div>
</div>
<div style="position: fixed;bottom: 0;right: 0;"><script type="text/javascript" src="/js/cnzz.js"></script></div>
</body>
</html>