<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css?rev=0.1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--浏览器窗口图标-->
  <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
  <link rel="stylesheet" href="/stylesheets/container/dashboard.css?rev=0.1.0">
  <script src="/jquery/dist/jquery.min.js"></script>
  <meta content="_csrf" name="csrf-param">
  <meta content="FDs3VXHK-FKQuYYYVhnwDOafqB-hqLoTq2bQ" name="csrf-token">
  <link id="console_main_css" rel="stylesheet" href="/stylesheets/container/main.css?rev=0.1.0">
  <link rel="stylesheet" href="/stylesheets/container/layer.css" id="layui_layer_skinlayercss">
  <title>零云 - 服务</title>
</head>
  <body>

    <% include header.ejs %>

    <div class="part01">
    <% include pageContainer.ejs %>
    </div>
    <div class="part02" style="display: none">
      <% include create.ejs %>
    </div>

  <script>
    (function(){
      $('.foldingpad').click(function(){
        if ($(this).hasClass('rotate')) {
          _unfold(); //展开
        } else {
          _shrink();
        }
      });
      // left nav shrink 收缩
      function _shrink(){
        $('.nav-li').addClass('live-hover');
        $('.foldingpad').addClass('rotate');
        $('.page-container').css('margin-left','55px');
        $('.foldingpad').css('left','65px')
        $('.page-sidebar').css('margin-left','-200px');
        $('.page-small-sidebar').css('margin-left','0px');
        $('.global-notice').css('left','90px')
      }
      // left nav unfold 展开
      function _unfold(){
        $('.nav-li').removeClass('live-hover');
        $('.foldingpad').removeClass('rotate');
        $('.page-container').css('margin-left','200px');
        $('.page-sidebar').css('margin-left','0px');
        $('.page-small-sidebar').css('margin-left','-55px');
        $('.global-notice').css('left','235px')
        $('.foldingpad').css('left','210px')
      }
      //container切换
      $('.create.pushContaienrs').click(function(){
        $('.part01').hide();
        $('.part02').show();
      });
      //创建容器
      $('.list-item-description>.pull-deploy').click(function(){
        $('.host_step1').hide();
        $('.host_step2').show();
        $('.radius_step').eq(1).addClass('action').siblings().removeClass('action');
        $('.createPadding,.createPadding .go_backs01,.createPadding .two_step,.createPadding #createButton').removeClass('hide');
      });
      $('.createPadding .two_step').click(function(){
        $('.host_step2').hide();
        $('.host_step3').removeClass('hide');
        $('.radius_step').eq(2).addClass('action').siblings().removeClass('action');
        $('.createPadding .go_backs01').addClass('hide');
        $('.createPadding .go_backs02').removeClass('hide');
      });
      $('.go_backs01').click(function(){
        $('.host_step1').show();
        $('.host_step2').hide();
        $('.radius_step').eq(0).addClass('action').siblings().removeClass('action');
        $('.createPadding,.createPadding .go_backs01,.createPadding .two_step,.createPadding #createButton').addClass('hide');
      });
      $('.go_backs02').click(function(){
        $('.host_step2').show();
        $('.host_step3').addClass('hide');
        $('.radius_step').eq(1).addClass('action').siblings().removeClass('action');
        $('.createPadding .go_backs02').addClass('hide');
        $('.createPadding .go_backs01').removeClass('hide');
      });




    })();
  </script>
  </body>
</html>