<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css?rev=0.1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--浏览器窗口图标-->
  <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
  <link rel="stylesheet" href="/stylesheets/container/dashboard.css?rev=0.1.0">
  <script src="/jquery/dist/jquery.min.js"></script>
  <meta content="_csrf" name="csrf-param">
  <meta content="FDs3VXHK-FKQuYYYVhnwDOafqB-hqLoTq2bQ" name="csrf-token">
  <link id="console_main_css" rel="stylesheet" href="/stylesheets/container/main.css?rev=0.1.0">
  <link rel="stylesheet" href="/stylesheets/container/layer.css" id="layui_layer_skinlayercss">
  <title>零云 - 服务</title>
</head>
  <body>

    <% include header.ejs %>

    <div class="part01">
    <% include pageContainer.ejs %>
    </div>
    <div class="part02" style="display: none">
      <% include create.ejs %>
    </div>

  <script>
    (function(){
      $('.foldingpad').click(function(){
        if ($(this).hasClass('rotate')) {
          _unfold(); //展开
        } else {
          _shrink();
        }
      });
      // left nav shrink 收缩
      function _shrink(){
        $('.nav-li').addClass('live-hover');
        $('.foldingpad').addClass('rotate');
        $('.page-container').css('margin-left','55px');
        $('.foldingpad').css('left','65px')
        $('.page-sidebar').css('margin-left','-200px');
        $('.page-small-sidebar').css('margin-left','0px');
        $('.global-notice').css('left','90px')
      }
      // left nav unfold 展开
      function _unfold(){
        $('.nav-li').removeClass('live-hover');
        $('.foldingpad').removeClass('rotate');
        $('.page-container').css('margin-left','200px');
        $('.page-sidebar').css('margin-left','0px');
        $('.page-small-sidebar').css('margin-left','-55px');
        $('.global-notice').css('left','235px')
        $('.foldingpad').css('left','210px')
      }
      //container切换
      $('.create.pushContaienrs').click(function(){
        $('.part01').hide();
        $('.part02').show();
      });
      //创建容器
      $('.list-item-description>.pull-deploy').click(function(){
        $('.host_step1').hide();
        $('.host_step2').show();
        $('.radius_step').eq(1).addClass('action').siblings().removeClass('action');
        $('.createPadding,.createPadding .go_backs01,.createPadding .two_step,.createPadding #createButton').removeClass('hide');
      });
      $('.createPadding .two_step').click(function(){
        $('.host_step2').hide();
        $('.host_step3').removeClass('hide');
        $('.radius_step').eq(2).addClass('action').siblings().removeClass('action');
        $('.createPadding .go_backs01').addClass('hide');
        $('.createPadding .go_backs02').removeClass('hide');
      });
      $('.go_backs01').click(function(){
        $('.host_step1').show();
        $('.host_step2').hide();
        $('.radius_step').eq(0).addClass('action').siblings().removeClass('action');
        $('.createPadding,.createPadding .go_backs01,.createPadding .two_step,.createPadding #createButton').addClass('hide');
      });
      $('.go_backs02').click(function(){
        $('.host_step2').show();
        $('.host_step3').addClass('hide');
        $('.radius_step').eq(1).addClass('action').siblings().removeClass('action');
        $('.createPadding .go_backs02').addClass('hide');
        $('.createPadding .go_backs01').removeClass('hide');
      });
      //添加已创建容器列表
      $.ajax({
        url: '/container/list/uid',
        type: 'GET'

      }).done(function(resp){
        var servers = resp.servers;
        for(var i in servers){
          console.log(servers[i].name);
          console.log(servers[i].image);

          var dbtr=$('<tr class="show-tr"><td><div class="contents-table"><table class="table"><tr class="clusterId">\
        <td style="width:5%;text-indent: 30px;"><input type="checkbox" name="chkItem" value="'+servers[i].name+'"/></td>\
        <td style="width:20%;white-space:nowrap;"><b class="caret margin" style="-webkit-transform:rotate(-90deg);transform:rotate(-90deg);"></b><a href="" class="cluster_mirrer_name">' + servers[i].name + '</a></td>\
        <td style="width:10%" id=""></td>\
        <td style="width:20%;"><span class="cluster_mirrer">' + servers[i].image + '</span></td>\
        <td style="width:34%" id=""><span class="urlStatus"></span></td>\
        <td style="width:10%" class="tdTimeStrap"><input type="hidden" class="timeStrap" value=""><i class="fa_time"></i><span></span></td></tr></td></div></table></tr>');

          dbtr.appendTo($('#dbtable'));

        }

      });

//      var dbtr=$('<tr class="show-tr" memory="' + cluster.memory + '" id="inst_' + cluster.id + '"><td><div class="contents-table"><table class="table"><tr class="clusterId" id="' + cluster.id + '">\
//        <td style="width:5%;text-indent: 30px;"><input type="checkbox" name="chkItem" value="' + cluster.id + '" status="' + cluster.status + '" imagename="' + imageName + '" imagetag="' + tagName + '"/></td>\
//        <td style="width:20%;white-space:nowrap;"><b class="caret margin" style="-webkit-transform:rotate(-90deg);transform:rotate(-90deg);"></b><a href="/containers/'+master+'/cluster/'+ cluster.id + '" class="cluster_mirrer_name">' + cluster.id + '</a><span class="number-node hide">' + cluster.replicas + '</span><span class="margin cursor console-code-modal hide" data-id="#console-code-modal"><i class="fa fa-desktop" onclick="_showConsole(\'' + cluster.id + '\');"></i></span></td>\
//        <td style="width:10%" id="'+cluster.id+'status">加载中 <img src="../images/loading4.gif" alt="status"></td>\
//        <td style="width:20%;"><img src="'+ imageSrc +'?imageView2/2/h/20" style="max-height:20px;max-width:40px;"><span class="cluster_mirrer">' + imageStr + '</span></td>\
//        <td style="width:34%" id="'+cluster.id+'url">' + url + '<span class="urlStatus">加载中 <img src="../images/loading4.gif" alt="url"></span></td>\
//        <td style="width:10%" class="tdTimeStrap"><input type="hidden" class="timeStrap" value="' + cluster.creationTimestamp + '"><i class="fa_time"></i><span>' + cluster.create_time + '</span></td></tr></td></div></table></tr>');
//      dbtr.appendTo($('#dbtable'));


    })();
  </script>
  </body>
</html>