<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css?rev=0.1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--浏览器窗口图标-->
  <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
  <link rel="stylesheet" href="/stylesheets/container/dashboard.css?rev=0.1.0">
  <script src="/jquery/dist/jquery.min.js"></script>
  <meta content="_csrf" name="csrf-param">
  <meta content="FDs3VXHK-FKQuYYYVhnwDOafqB-hqLoTq2bQ" name="csrf-token">
  <link id="console_main_css" rel="stylesheet" href="/stylesheets/container/main.css?rev=0.1.0">
  <link rel="stylesheet" href="/stylesheets/container/layer.css" id="layui_layer_skinlayercss">
  <title>零云 - 服务</title>
</head>
  <body>

    <% include header.ejs %>

    <div class="part01">
    <% include pageContainer.ejs %>
    </div>
    <div class="part02" style="display: none">
      <% include create.ejs %>
    </div>

  <script src="/js/console.js"></script>
  </body>
</html>