<div class="page-container">
  <article>
    <div class="rightNav">
      <div id="iframe">
        <aside class="aside-info">
          <div class="main-info">
            <h3>欢迎来到服务中心</h3>
            <!--<h4>在这里，您可以点击创建按钮进行创建一个新的服务</h4>-->
            这里是服务中心,中心里汇聚了您创建的所有服务的详情信息，当然，您也可以创建一个新的服务
          </div>
        </aside>
        <div class="caption dropdown">
          <a href="/container" id="refreshDB"><i class="fa_refresh"></i></a>
          <a class="btn create pushContaienrs"><i class="fa_btn_plus"></i><span>创建</span></a>
          <a class="more" data-toggle="dropdown" aria-expanded="false">更多操作<b class="caret margin"></b></a>
          <ul class="dropdown-menu drop-left">
            <li>
              <a id="startContainer" class="cursor-drop" href="javascript:void(0)"><i class="fa fa-play"></i><span class="m_left">启动</span></a>
            </li>
            <li>
              <a id="stopContainer" class="cursor-drop" href="javascript:void(0)"><i class="fa fa-power-off"></i><span class="m_left">停止</span></a>
            </li>
            <!--<li>-->
              <!--<a id="scaleCluster" class="cursor-drop" href="javascript:void(0)"><i class="fa fa-arrows"></i><span class="m_left">弹性伸缩</span></a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a id="redeployContainer" class="cursor-drop" href="javascript:void(0)"><i class="fa fa-rotate-left"></i><span class="m_left">重新部署</span></a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a id="changeConfiguration" class="cursor-drop"><i class="fa fa-gear"></i><span class="m_left">更改配置</span></a>-->
            <!--</li>-->
            <li>
              <a id="deleteButton" class="cursor-drop" href="javascript:void(0)"><i class="fa fa-trash-o"></i><span class="m_left">删除</span></a>
            </li>
          </ul>
          <!--<a href="http://doc.tenxcloud.com/doc/v1/faq/deploycode.html" target="_blank"><i class="fa fa-question-circle"></i> 如何部署代码</a>-->
          <!--<div class="searchs">-->
            <!--<form class="search-group-inner">-->
              <!--<input class="start-search" type="text" placeholder="搜索">-->
            <!--</form>-->
            <!--<i class="fa fa-search" id="searchs"></i>-->
          <!--</div>-->
        </div>
        <div class="aside-info">已创建的服务</div>
        <div class="content" style="position:relative;padding-top: 30px">
          <table class="table">
            <!--<thead>-->
            <!--<tr>-->
              <!--<th>-->
                <!--<div class="table-heade">-->
                  <!--<table class="table">-->
                    <!--<thead style="background: #F5F6F6;">-->
                    <!--<tr><th style="width:5%;text-indent: 30px;"><input id="btnCheckAll" type="checkbox" aria-expanded="false"></th>-->
                      <!--<th style="width:20%;padding-left: 5px;">名 称</th>-->
                      <!--<th style="width:10%;text-indent: 8px;">运行状态</th>-->
                      <!--<th style="width:20%;">镜 像</th>-->

                      <!--<th style="width:34%">服务地址-->
                        <!--<a role="button" data-trigger="focus" tabindex="0" data-container="article" data-toggle="popover" data-placement="bottom" class="hint-info" data-original-title="" title="">-->
                          <!--&lt;!&ndash;<i class="fa fa-question-circle"></i>&ndash;&gt;-->
                        <!--</a>-->
                      <!--</th>-->
                      <!--<th style="width:10%">创建于</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                  <!--</table>-->
                <!--</div>-->
              <!--</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <tbody id="dbtable" style="margin-top: 30px">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>

  <!--生成二维码-->
  <div id="codeBox" style="position:fixed;z-index:100;display: none;background: rgba(0,0,0,.7);top:0;left:0;right:0;bottom:0;"></div>
  <div style="display:none;position:absolute;z-index:200;top:20%;left:50%;margin-left:-200px" id="qrcode"></div>






</div>