<div class="page-container" style="margin-left: 200px;">
  <article>
    <div class="contentTitle">
      <div class="dbserver">
        <i class="fa_home"></i>
        <a href="/servesCenter" class="go"><span>服务中心</span></a>
        <i class="fa fa-angle-right fa_r"></i>
        <a class="go" href="/container">容器服务</a>
        <i class="fa fa-angle-right fa_r"></i>
        <a class="goback page-in">创建服务</a>
      </div>
    </div>
    <div id="home-main" class="modalCrealApp" style="background:#fff;min-height:100%;">
      <div class="steps-main">
        <div class="progre">
          <div style="padding:0 4rem;">
            <div class="radius_step action">
              <span>1</span>
              镜像来源
            </div>
            <div class="radius_step">
              <span>2</span>
              容器配置
              <div class="triangle"></div>
            </div>
            <div class="hide">
              <span class="STEPS"></span>
              <span class="STEPS"></span>
            </div>
          </div>
        </div>
        <div class="step-inner">

          <!--创建页面第一部分-->
          <div class="host_step1">
            <section class="info-class">
                <span class="search container-search" style="margin:0;min-width: 230px;float:right;">
                  <div class="search-group-inner">
                    <input type="text" id="search-img" placeholder="搜索镜像" style="width:225px;height:36px;">
                    <button type="submit" class="btn btn-primary btn-send" style="height:36px;line-height:22px;position: absolute;top:0px;right: 0;">搜索</button>
                  </div>
                </span>
            </section>

            <ul class="dialog">
              <li class="blankApp">
                <!-- <span>操作系统</span> -->
                <ul class="select_ul" style="width:100%;">
                  <!-- <li id="defaultImages" class="list-wrapper">
                    <div class="loadimages"><i>正在加载...</i></div>
                  </li> -->
                  <li id="systemImages" class="list-wrapper">

                  </li>
                  <li id="searchImages" class="list-wrapper hideimage">

                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <!--创建页面第二部分-->
          <div class="host_step2" style="display:none">
            <!--<i class="tips">载入容器配置中...</i>-->
            <ul class="safeSet">
              <!--提交镜像名，版本，服务名-->
              <form id="createContainerForm" method="post" action="/serve/create">
                <li class="line-h-3">
                  <span class="ve_top">镜像名称：</span>
                  <span class="imageName"></span>
                  <input id="getImageName" type="hidden" name="image" value="">
                  <!--<input id="getImageName" type="hidden" name="image" value="alexwhen/docker-2048">-->
                </li>
                <li class="line-h-3">
                  <span class="ve_top">服务名称：</span>
                  <input name="name" type="text" value="" class="in_style" id="containerName">
                </li>
              <li class="line-h-3" style="min-height:109px;padding-top: 10px;">
                <input name="conflevel" id="typeX" type="hidden" value="">
                <span class="ve_top display-block">容器配置：</span>
                <section class="set_container" config="60m,256Mi,10GB">
                  <div class="up_style">1X</div>
                  <ul class="text-center parameter">
                    <li>256 MB 内存</li>
                    1 CPU (共享)
                  </ul>
                </section>
                <section class="set_container x2 active" config="125m,512Mi,10GB">
                  <div class="up_style">2X</div>
                  <ul class="text-center parameter">
                    <li>512 MB 内存</li>
                    <span>1 CPU (共享)</span>
                  </ul>
                </section>
                <section class="set_container" config="250m,1024Mi,10GB">
                  <div class="up_style">4X</div>
                  <ul class="text-center parameter">
                    <li>1 GB 内存</li>
                    <span>1 CPU (共享)</span>
                  </ul>
                </section>
                <section class="set_container" config="500m,2048Mi,10GB">
                  <div class="up_style">8X</div>
                  <ul class="text-center parameter">
                    <li>2 GB 内存</li>
                    <span>1 CPU (共享)</span>
                  </ul>
                </section>
                <section class="set_container" config="1000m,4096Mi,10GB" disabled="">
                  <div class="up_style">16X</div>
                  <ul class="text-center parameter">
                    <li>4 GB 内存</li>
                    <span>1 CPU</span>
                  </ul>
                </section>
                <section class="set_container" config="2000m,8192Mi,10GB" disabled="">
                  <div class="up_style">32X</div>
                  <ul class="text-center parameter">
                    <li>8 GB 内存</li>
                    <span>2 CPU</span>
                  </ul>
                </section>
              </li>
              <li class="line-h-3" id="instsize">
                <div class="param-set">
                  <span class="number-title">实例数量：</span>
                  <input type="number" value="1" class="number" name="instance" min="1" autocomplete="off" placeholder="1">
                  <span class="unit">个</span>
                  <span id="instanceTip" style="color:rgba(102, 102, 102, 0.63);margin-left: 40px;"></span>
                </div>
              </li>
              <li class="line-h-3 param_form">
                <span class="paramSet">参数设置</span>
                <ol id="param_list"></ol>
              </li>
              <li id="service_type">
                <span class="ve_top">拓展方式：</span>
                <span class="update-mi">
                  <input name="expand" type="radio" id="state_service" value="0">
                  <label for="state_service"><font color="blue" title="">手动</font></label>
                  <input name="expand" type="radio" id="state_service" value="1">
                  <label for="state_service"><font color="blue" title="">自动</font></label>
                </span>
              </li>
              <li class="line-h-3">
                <span class="ve_top">执行命令：</span>
                <span class="update-mi"><input id="execmd" type="text" style="width:230px;height:27px;cursor:no-drop;padding:0px;margin:0px;" class="cmdtext" disabled="">&nbsp;&nbsp; <input type="radio" class="execmd" name="defaultcmd" value="default" checked=""> 镜像默认&nbsp;&nbsp; <input type="radio" class="execmd" name="defaultcmd" value="self"> 自定义 </span>
              </li>
              <li class="line-h-3">
                <span class="ve_top">环境变量：</span>
                <div class="editEnv">
                  <div class="editEnv-title">
                    <div style="width: 35%"> 变量名</div>
                    <div style="width: 35%"> 变量值</div>
                    <div style="width: 10%"> 操作</div>
                  </div>
                  <div class="envRow">
                    <div style="width: 35%">
                      <input placeholder="name" class="envName" type="text" name="envName">
                    </div>
                    <div style="width: 35%">
                      <input placeholder="value" class="envVal" type="text" name="envVal">
                    </div>
                    <div style="width: 10%">
                      <span class="addEnv cursor" data-toggle="tooltip" data-placement="top" title="" data-original-title="添加">
                        <i class="fa fa-plus"></i>
                      </span>&nbsp;&nbsp;
                      <span class="removeEnv cursor" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
                        <i class="fa fa-times"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </li>
              </form>
            </ul>
            <div style="height: 80px !important;"></div>
          </div>
        </div>
      </div>
      <div class="createPadding hide">
        <button class="btn btn-default go_backs01 hide" style="margin-right:30px;">上一步</button>
        <button class="btn btn-default go_backs02 hide" style="margin-right:30px;">上一步</button>
        <button id="createButton" class="pull-right btn btn-primary pull_confirm hide">创建</button>
      </div>
    </div>
  </article>
</div>