<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css?rev=0.1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--浏览器窗口图标-->
    <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
    <link rel="stylesheet" href="/stylesheets/dashboard.css?rev=0.1.0">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/stylesheets/layer/layer.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/detail.css">
    <link rel="stylesheet" href="/stylesheets/layer/skin/layer.css">
    <title>零云 - 服务详情</title>
    <style type="text/css">
        .btn-toogle {
            line-height: 30px;
            border-radius: 2px;
            border: 1px solid #4280CB;
            display: inline-block;
            font-size: 12px;
        }

        .btn-toogle .btn-t {
            width: 50px;
            text-align: center;
            height: 30px;
            display: inline-block;
            cursor: pointer;
            color: #4280CB;
        }

        .btn-toogle .toogle-on {
            background: #4280CB;
            color: #fff;
            cursor: auto;
        }

        #changeButton {
            color: #fff;
            height: 36px;
            padding: 0 15px;
            background: #008CD6;
            display: inline-block;
            text-align: center;
            line-height: 36px;
            border-radius: 2px;
            float: left;
            margin: 20px 6px 20px 0;
            cursor: pointer;
        }
    </style>
</head>
<body>

<% include header.ejs %>

<div class="page-container" style="margin-left: 200px">
    <div class="container-right">
        <div class="contentTitle">
            <div class="dbserver">
                <i class="fa_home"></i>
                <a class="go" href="/servesCenter">服务中心</a>
                <i class="fa fa-angle-right fa_r"></i>
                <a class="go" href="/container">容器服务</a>
                <i class="fa fa-angle-right fa_r"></i>
                <a class="go page-in">服务详情</a>
            </div>
        </div>


        <section class="detail-succeed">
            <div class="icon-img">
                <div class="type-icon">
                    <img id="containerImg" src="" height="100%">
                </div>
            </div>
            <ul class="succeed-content pull-left">
                <li>运行状态：<span id="status"></span></li>
                <li>服务地址：<a href="" target="_blank"><span id="address"></span></a></li>
                <!--<li>创建时间：<span></span></li>-->
                <li>更新时间：<span id="updateTime"></span></li>
                <li>服务监控状态：健康<span style="color: #fff;margin-left:100px;padding: 10px 15px;background: #008CD6;cursor: pointer;border-radius: 2px;">调整资源</span></li>
                <input id="containerId" type="hidden" value="<%= id %>">
            </ul>
            <!--<div class="applocation">-->
            <!--<span class="btn btn-primary console-code-modal" data-id="#console-code-modal" style="vertical-align: top;padding: 0px;height:46px; font-size: 16px;line-height: 46px; width: 150px;" onclick="_showConsole('test');"><i class="fa fa-desktop"></i>&nbsp; 打开控制台</span>-->
            <!--&nbsp;<a href="http://test-gnahceh.hz.tenxapp.com:42969" target="_blank" class="open" style="font-size:16px;"><i class="fa fa-toggle-on"></i>&nbsp; 打开应用</a>-->
            <!--</div>-->
        </section>

        <div class="baseInfo center-style">
            <a class="BASE btn-prim">基本信息</a>
            <a class="INSTANCES">容器实例</a>
            <a class="EVENT">事件</a>
            <a class="RESOURCE">资源控制</a>
            <!--<a class="MONITOR">监控</a>-->
        </div>

        <div id="detail-content-box">

            <div class="containerInfo" style="display: block;">
                <table class="table w50">
                    <thead>
                    <tr>
                        <th> 基本信息</th>
                        <th> &nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="BORDER">
                        <tr>
                            <td style="width: 100%"> 名称：<span id="severName"></span></td>
                        </tr>
                        <tr>
                            <td style="width: 100%"> 镜像名称：<span class="imageName"></span></td>
                        </tr>
                        <tr>
                            <td style="width: 100%"> CPU：<span id="CPU"></span></td>
                        </tr>
                        <tr>
                            <td style="width: 100%"> 内存：<span id="memory"></span></td>
                        </tr>
                        <tr>
                            <td style="width: 100%"> 硬盘：</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- the end of  containerInfo-->

            <div class="containerInstances" style="min-height: 300px; display: none;">
                <table class="table">
                    <thead>
                    <tr style="white-space: nowrap;">
                        <th>名称</th>
                        <th>运行状态</th>
                        <th>镜像</th>
                        <th>内网地址</th>
                        <th>外网地址</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody class="BORDER-TR">
                    <tr>
                        <td>加载中...<a href=""><span id="containerName"></span></a></td>
                        <td><span id="containerStatus"></span></td>
                        <td><span class="imageName"></span></td>
                        <td><span id="inaddress"></span></td>
                        <td><a href="" target="_blank"><span id="outaddress"></span></a></td>
                        <td><span id="containerCreatTime"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- the end of  containerInstances-->

            <div class="containerEvent" style="min-height: 500px; display: none;">
                加载中...
            </div>
            <!-- the end of  containerEvent-->

            <div class="containerResource" style="display: none;">
                <table class="table">
                    <table class="table w50">
                        <thead>
                        <tr>
                            <!--<th> 基本信息</th>-->
                            <th> &nbsp;</th>
                        </tr>
                        </thead>
                        <tbody class="BORDER">
                        <tr>
                            <td style="width: 100%"> 拓展方式：
                                <select>
                                    <option>自动</option>
                                    <option>手动</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%"> 拓展类型：
                                <select>
                                    <option>实例大小</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td style="width: 100%"> 实例个数：
                                <select id="instanceNumber">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%"> 实例类型：
                                <select id="instanceType">
                                    <option>1x</option>
                                    <option>2x</option>
                                    <option>4x</option>
                                    <option>8x</option>
                                    <option>16x</option>
                                    <option>32x</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%">
                                <a id="changeButton"><span>确认修改</span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </table>
                <!--<div class="volumeLoad" align="center">载入中...</div>-->
            </div>

            <div class="monitorInfo" style="display: none;">
                <div class="data-analysis">
                    <div class="data-btn">
                        <span id="serviceNames" value="mongodb1"></span>
                        <button class="btn monitor 6h" onclick="update('tenx_district3','mongodb1','all', '1h', '1460354882000');">1小时</button>
                        <button class="btn monitor 6h" onclick="update('tenx_district3','mongodb1','all', '6h', '1460354882000');">6小时</button>
                        <button class="btn monitor 1d btn-prim" onclick="update( 'tenx_district3','mongodb1','all', '1d', '1460354882000');">1天</button>
                        <button class="btn monitor 1d" onclick="update('tenx_district3','mongodb1','all', '1w', '1460354882000');">1周</button>
                        <button class="btn monitor 1d" onclick="update('tenx_district3','mongodb1','all', '30d', '1460354882000');">1月</button>
                    </div>
                    <div class="charterTitle">处理器
                        <div class="symbol"> (
                            <span class="cpuColor"></span>
                            <h>处理器使用情况 %)</h>
                        </div>
                    </div>
                    <div class="data-table charterHoderCpu" data-highcharts-chart="14">

                    </div>
                    <div class="charterTitle">内存
                        <div class="symbol"> (
                            <span class="Memory"></span>
                            内存使用情况 M)
                        </div>
                    </div>
                    <div class="data-table charterHoderMemory" data-highcharts-chart="12">

                    </div>
                    <div class="charterTitle">网络监控
                        <div class="symbol"> (
                            <span class="NetworkIn"></span>
                            网络流入使用情况 字节/秒)
                        </div>
                    </div>
                    <div class="data-table charterHoderNetworkIn" data-highcharts-chart="15">

                    </div>
                    <div class="charterTitle">网络监控

                        <div class="symbol"> (
                            <span class="NetworkOut"></span>
                            网络流出使用情况 字节/秒)
                        </div>

                    </div>
                    <div class="data-table charterHoderNetworkOut" data-highcharts-chart="13">

                    </div>
                    <!-- div.data-table.charterHoderNetworkOut -->
                </div>
            </div>
            <!-- the end of  monitorInfo-->

        </div>
    </div>
</div>

<script src="/js/detail.js"></script>
<script src="/js/header.js"></script>
</body>
</html>