<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>零云 - 邮箱验证成功</title>
    <link rel="icon" type="image/z-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login-top.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/stylesheets/layer/layer.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/chat_room.js"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <nav id="main-nav" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="toggle navbar-toggle collapsed" data-toggle="collapse"
                                data-target=".navbar-top-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/"><span class="logo"></span></a>
                    </div>
                    <div class="navbar-collapse navbar-top-collapse collapse" style="height: 1px;">
                        <ul class="nav navbar-nav navbar-right c_navbar">
                            <li>
                                <a href="/login" class="font_size login" id="llogin" style="padding:5px 15px">登 录</a>
                            </li>
                            <li>
                                <a href="/regist" class="font_size registry" id="register" style="padding:5px 15px">注册</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-left z_navbar">
                            <li class="header-products mmore">
                                <a href="javascript:void(0);">服务中心</a>
                            </li>
                            <li class="header-solutions">
                                <a href="http://bbs.zerocloud.club/" target="_blank">社区</a>
                            </li>
                            <li class="mmore">
                                <a href="javascript:void(0);">文档</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="form-login" style="height: 350px;">
        <div class="form-group">
            <div class="signup-title" style="font-size:24px;margin-top:20px;height:150px;line-height:150px;color:#666;">
                <i class="fa fa-check note" style="color: #2FBA66"></i>
                恭喜您，邮箱验证成功。
            </div>
        </div>

        <div class="form-group"  style="text-align: center;margin-top: 60px">
            <a href="/container">
                <button style="font-size:16px;padding: 16px 80px;" class="btn btn-primary btn-lg">返回控制台</button>
            </a>
        </div>
    </div>
</div>


<script>
    (function(){
        //期待更多
        $('.z_navbar li.mmore').on('click', function () {
            layer.msg('更多功能敬请期待！', {icon: 6});
        });
    })();
</script>
</body>
</html>