<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery/dist/jquery.min.js"></script>

</head>
<body>
<input type="text" id="id">
<input type="button" id="start" value="start">
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('ws://' + window.location.host + '/exec');
    //    socket.emit('execContainerStart', 'e7a08e1f1a67');
    socket.on('execContainerMonitor', function (data) {
        console.log(data);
    });
    function send(id) {
        socket.emit('execContainerStart', id);
    }
    $('#start').click(function () {
        var id = $('#id').val();
        send(id);
    })
</script>
</html>