<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
          <div class="log" >
            <a href="/" target="_blank" class="zerocloud">
              <span class="logo"></span>
            </a>
          </div>
        <ul class="nav-bar">
          <li class="use">
            <a class="cursor nav-t">
              <div class="namespace">用户信息</div>
            </a>
            <div class="userList">
              <div class="rows"></div>
              <a href="javascript:void(0)" class="li"><i class="fa_baseinfo"></i><span>基本信息</span></a>
              <a href="javascript:void(0)" class="li"><i class="fa_ihone"></i><span>手机号码</span></a>
              <a href="javascript:void(0)" class="li"><i class="fa_lock"></i><span>修改密码</span></a>
              <!--<a href="" class="li"><i class="fa_cube"></i><span>其他账户</span></a>-->
              <a href="/logout" id="logout" class="li hr"><i class="fa_out"></i><span>退出登录</span></a>
            </div>
          </li>
          <li class="work">
            <a href="javascript:void(0)" class="nav-t" target="_blank">社区</a>
            <!--<div class="nav-list">-->
              <!--<div class="rows"></div>-->
              <!--<a href="javascript:void(0)" class="li" target="_blank"><i class="fa_open"></i><span>社区</span></a>-->
              <!--<a href="javascript:void(0)" class="li" target="_blank"><i class="fa_wordpress"></i><span>博客</span></a>-->
              <!--<a href="javascript:void(0)" class="li" target="_blank"><i class="fa_update"></i><span>最近更新</span></a>-->
            <!--</div>-->
          </li>
          <li class="work">
            <a href="javascript:void(0)" class="nav-t" target="_blank">文档</a>
            <!--<div class="nav-list">-->
              <!--<div class="rows"></div>-->
              <!--<a href="javascript:void(0)" class="li" target="_blank"><i class="fa_doc"></i><span>产品文档</span></a>-->
              <!--<a href="javascript:void(0)" class="li" target="_blank"><i class="fa_quick_icon"></i><span>API 文档</span></a>-->
              <!--<a href="javascript:void(0)" class="li" target="_blank"><i class="fa_video"></i><span>视频教程</span></a>-->
              <!--<a href="javascript:void(0)" class="li" target="_blank"><i class="fa_club"></i><span>客户端</span></a>-->
            <!--</div>-->
          </li>
          <!--<li class="work">-->
            <!--<a href="" class="nav-t" target="_blank">镜像广场</a>-->
          <!--</li>-->
          <li class="consume">
            <a href="/container" class="nav-t">服务中心</a>
            <!--<ul class="nav-consume">-->
              <!--<div class="rows"></div>-->
              <!--<li class="ont-top">-->
                <!--<span class="pull-left">账户余额：</span>-->
                <!--<a id="refreshBalance" class="pull-right" href="" title="刷新余额"><i class="fa fa-refresh margin"></i></a>-->
                <!--<a href="" class="pull-right"><i class="fa fa-yen margin"></i><span id="balcance"></span></a>-->
              <!--</li>-->
              <!--<li class="bi_primary"><a href="">现在充值</a></li>-->
              <!--<li>-->
                <!--<i style="color:#4280cb" class="fa fa-angle-double-right margin"></i><a href="">消费记录</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--<i style="color:#4280cb" class="fa fa-angle-double-right margin"></i><a href="">充值记录</a>-->
              <!--</li>-->
            <!--</ul>-->
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

