<header>
  <div class="container fixed-row">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <!--<div class="foldingpad">-->
          <!--<i class="fa fa-dedent"></i>-->
        <!--</div>-->
        <ul class="nav-bar">
          <li class="use">
            <a class="cursor nav-t">
              <div class="namespace">用户信息</div>
            </a>
            <div class="userList">
              <div class="rows"></div>
              <a href="" class="li"><i class="fa_baseinfo"></i><span>基本信息</span></a>
              <a href="" class="li"><i class="fa_ihone"></i><span>手机号码</span></a>
              <a href="" class="li"><i class="fa_lock"></i><span>修改密码</span></a>
              <a href="" class="li"><i class="fa_cube"></i><span>其他账户</span></a>
              <a href="/logout" id="logout" class="li hr"><i class="fa_out"></i><span>退出登录</span></a>
            </div>
          </li>
          <li class="work">
            <a href="" class="nav-t" target="_blank">社区</a>
            <div class="nav-list">
              <div class="rows"></div>
              <a href="" class="li" target="_blank"><i class="fa_open"></i><span>社区</span></a>
              <a href="" class="li" target="_blank"><i class="fa_wordpress"></i><span>博客</span></a>
              <a href="" class="li" target="_blank"><i class="fa_update"></i><span>最近更新</span></a>
            </div>
          </li>
          <li class="work">
            <a href="" class="nav-t" target="_blank">文档</a>
            <div class="nav-list">
              <div class="rows"></div>
              <a href="" class="li" target="_blank"><i class="fa_doc"></i><span>产品文档</span></a>
              <a href="" class="li" target="_blank"><i class="fa_quick_icon"></i><span>API 文档</span></a>
              <a href="" class="li" target="_blank"><i class="fa_video"></i><span>视频教程</span></a>
              <a href="" class="li" target="_blank"><i class="fa_club"></i><span>客户端</span></a>
            </div>
          </li>
          <li class="work">
            <a href="" class="nav-t" target="_blank">镜像广场</a>
          </li>
          <li class="consume">
            <a href="" class="nav-t">消费记录</a>
            <ul class="nav-consume">
              <div class="rows"></div>
              <li class="ont-top">
                <span class="pull-left">账户余额：</span>
                <a id="refreshBalance" class="pull-right" href="" title="刷新余额"><i class="fa fa-refresh margin"></i></a>
                <a href="" class="pull-right"><i class="fa fa-yen margin"></i><span id="balcance">30</span></a>
              </li>
              <li class="bi_primary"><a href="">现在充值</a></li>
              <li>
                <i style="color:#4280cb" class="fa fa-angle-double-right margin"></i><a href="">消费记录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <i style="color:#4280cb" class="fa fa-angle-double-right margin"></i><a href="">充值记录</a>
              </li>
            </ul>
          </li>
          <li class="ticket">
            <a href="" class="nav-t">工单<h id="ticketsNum" class="badge"></h></a>
            <ul class="nav-tickets">
              <div class="rows"></div>
              <li class="only">当前未解决的工单<a href=""><span class="numbers">0</span>个</a></li>
              <li class="last">
                <a href=""><i class="fa_create_icon"></i>新建工单</a>
                <a href="" class="my_ticket"><i class="fa_my_ticket"></i>我的工单</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="page-sidebar">
  <div class="log">
    <a href="" title="零云" target="_blank" class="zerocloud">
      <span class="logo"></span>
    </a>
  </div>
  <ul class="nav-menu">
    <li class="nav-li">
      <a href="#"><i class="nav-icon-dashboard nav-icon"></i><span class="nav-title">总览</span></a>
    </li>
    <!-- container -->
    <li class="nav-li item-click live-hover">
      <a data-permalink="">
        <i class="nav-icon-container nav-icon"></i>
        <span class="nav-title">容器服务</span>
      <span class="nav-sign">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
      <div class="nav-item-list" style="display: block;">
        <ul class="list-detail" id="containers">
          <!--<a href="/console">-->
            <li id="containersService" dataid="container-server" class="li-active">
              <a href="/console">
                <span>服务</span>
              </a>
            </li>
          <!--</a>-->
          <li id="saveBackups" href="/" dataid="save-backups">
            <span>存储与备份</span>
          </li>
          <li id="dnsAliases" href="/" dataid="dns-aliases">
            <span>内网域名别名</span>
          </li>
          <li id="publicIp" href="/" dataid="Ip-tables">
            <span>独立 IP</span>
          </li>
        </ul>
      </div>
    </li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>