<!DOCTYPE html>
<html>
<head>
    <title>零云 - 新一代云平台</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="icon" type="image/z-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/stylesheets/layer/layer.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/chat_room.js"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <nav id="main-nav" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/">
                            <span class="logo"></span>
                        </a>
                    </div>
                    <div class="navbar-collapse navbar-top-collapse collapse">
                        <ul class="na navbar-nav navbar-right user-navbar">
                            <% if(active == '1'){ %>
                            <li class="header-actions">
                                <a href="/account/basic" class="loge-img">
                                    <img src="<%= avatarname %>" class="user-icon username" title="">
                                    <b class="caret user_caret"></b>
                                </a>
                                <div class="select_go">
                                    <div class="rows"></div>
                                    <a href="/container" class="go_console">服务中心</a>
                                    <a href="/logout" class="go_logout">退出</a>
                                </div>
                            </li>
                            <% }else if(active == '0'){ %>
                            <li>
                                <a id="login" href="/login" class="font-size" style="padding:5px 15px">登 录</a>
                            </li>
                            <li>
                                <a id="regist" href="/regist" class="font-size" style="padding:5px 15px;cursor: pointer">注 册</a>
                            </li>
                            <% } %>
                        </ul>
                        <ul class="nav navbar-nav navbar-right content-navbar">
                            <!--<li>-->
                            <!--<a href="javascript:void(0);">产品</a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="javascript:void(0);">价格</a>-->
                            <!--</li>-->
                            <li>
                                <a href="http://www.zerocloud.club:88/" target="_blank">社区</a>
                            </li>
                            <li class="mmore">
                                <a href="javascript:void(0);" target="_blank">文档</a>
                            </li>
                            <li class="mmore">
                                <a href="javascript:void(0);">关于</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="screen1">
        <div class="background-video-wrapper">
            <div id="stage-three" class="header-gradient-bg">

            </div>
        </div>
        <div class="sc-span">
            <div class="container">
                <div class="col-sm-12">
                    <div class="ban2-status">
                        <div class="sourehan animated fadeInDown">ZeroCloud,量子云平台改变世界</div>
                        <div class="h3 animated fadeInDown text-center">便捷操作的一站式云平台服务商</div>
                        <div class="ban2-experience text-center animated fadeInDown">
                            <% if(active == '0'){ %>
                            <a href="/login">
                                <span class="btn proceed">立刻体验</span>
                            </a>
                            <% }else if(active == '1'){ %>
                            <a href="/container">
                                <span class="btn proceed">回服务中心</span>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="screen2">
        <div class="container">
            <div class="col-xs-12">
                <ul class="porduct">
                    <li>产品</li>
                    <li><a href="http://www.zerocloud.cc/" target="_blank">零云</a></li>
                    <li><a href="http://emt.zerosky.cn:88/" target="_blank">e贸通</a></li>
                    <li><a href="http://dht.zerosky.cn:88/" target="_blank">电话通</a></li>
                </ul>
                <ul class="solutions" style="width: 150px;">
                    <li>社交媒体</li>
                    <li>微博</li>
                    <li>Facebook</li>
                </ul>
                <ul class="resoure">
                    <li>资源</li>
                    <li>价格</li>
                    <li>文档</li>
                </ul>
                <ul class="about">
                    <li>关于我们</li>
                    <li>关于我们</li>
                    <li>加入我们</li>
                </ul>
                <ul class="contactus" style="width: 260px;">
                    <li>联系方式</li>
                    <li>邮箱：zerocloud@zerosky.cn</li>
                    <li>电话：020-38207162</li>
                    <li>地址：广州市天河区建工路9号308</li>
                </ul>
                <ul class="contactus" style="width: 200px;">
                    <li>微信公共号</li>
                    <li>
                        <img src="http://7xukeq.com1.z0.glb.clouddn.com/qrcode.jpg" width="160px">
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="screen3">
        <p>广州市零空信息技术有限公司Copyright © 2016 版权所有</p>
        <p>粤ICP备15024287号-2</p>
    </section>

</div>
<script type="text/javascript" src="particles.js/particles.js"></script>
<script type="text/javascript" src="js/lines-link.js"></script>
<script type="text/javascript">
    (function () {
        //监听滚动事件
        $(window).scroll(function () {
            var top = $(window).scrollTop();
            if (top > 0) {
                $('header').addClass('header-fixed');
            } else {
                $('header').removeClass('header-fixed');
            }
        });

        //监听页面大小更改
        var h = window.innerHeight;
        var w = window.innerWidth - 17;
        $('.screen1').css('height', h);
        $('.screen1').css('width', w);

        $(window).resize(function () {
            var h = window.innerHeight;
            var w = document.body.clientWidth;
            $('.screen1').css('height', h);
            $('.screen1').css('width', w);
        })

        //期待更多
        $('.content-navbar li.mmore').on('click', function () {
            layer.msg('更多功能敬请期待！', {icon: 6});
        });

    })();
</script>
</body>
</html>
