<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/login.css">

  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
  <form method="post" action="/login">
    <div class="form-login">
      <div class="form-group">
        <p class="signup-title">登陆</p>
      </div>
      <div class="form-group">
        <div class="username-input">
          <input id="username" type="text" name="username" placeholder="请输入邮箱">
        </div>
      </div>
      <div class="form-group">
        <div class="passwd-input">
          <input id="passwd" type="password" name="passwd" placeholder="请输入密码">
        </div>
      </div>
      <div class="form-group">
        <div class="signup-button">
          <input type="submit" id="submit" value="登 录">
          <input type="hidden">
        </div>
      </div>
      <div class="form-group">
        <a href="/regist" id="signup">注册新账户</a>
      </div>
    </div>
  </form>
  <input type="hidden" id="status" value="<%= status %>">
</div>

<script>
  (function(){
    // 邮箱验证
    $('#username').blur(function (event) {
      var email = $(this).val();
      if (!email || email.trim() === '') {
        alert('邮箱不能为空');
        return;
      }
      email = email.trim();
      if (email.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) !== -1) {
        if (email.length > 50) {
          // $(this).siblings('span.m').html('邮箱长度不能大于50');
          alert('邮箱长度不能大于50');
        }
        return;
      }
      alert('请输入合法的邮箱');
    });
    // 密码验证
    $('#passwd').blur(function(event) {
      var html = $(this).val();
      if(html===''){
        alert('密码不能为空');
      }else if(html.length < 6 || html.length > 30){
        alert('密码长度必须在6-30位数');
      }
    });
    //登录状态返回验证
    var status = $('#status').val();
    console.log(status);
    if(status == '' || status == null){

    }else {
      alert(status);
    }
  })();

</script>
</body>
</html>