<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

    <script>
        // 重定向到控制台
        var con_href = '/console/<%= uid %>';
        window.location.href = con_href;
    </script>

</body>
</html>