<div class="page-container" style="margin-left: 200px;">
  <article>
    <div class="rightNav">
      <div class="contentTitle">
        <div class="dbserver">
          <i class="fa_home"></i>
          <a href="/" class="go" data-permalink=""><span>控制台</span></a>
          <i class="fa fa-angle-right fa_r"></i>
          <a>容器服务</a>
        </div>
      </div>
      <div id="iframe">
        <div class="caption dropdown">
          <a id="refreshDB"><i class="fa_refresh"></i></a>
          <a class="btn create pushContaienrs"><i class="fa_btn_plus"></i><span>创建</span></a>
          <a class="more" data-toggle="dropdown">更多操作<b class="caret margin"></b></a>
          <ul class="dropdown-menu drop-left">
            <li>
              <a id="startContainer" class="cursor-drop" href=""><i class="fa fa-play"></i><span class="m_left">启动</span></a>
            </li>
            <li>
              <a id="stopContainer" class="cursor-drop" href=""><i class="fa fa-power-off"></i><span class="m_left">停止</span></a>
            </li>
            <li>
              <a id="scaleCluster" class="cursor-drop" href=""><i class="fa fa-arrows"></i><span class="m_left">弹性伸缩</span></a>
            </li>
            <li>
              <a id="upgradeCluster" class="cursor-drop" href=""><i class="fa fa-arrow-up"></i><span class="m_left">灰度升级</span></a>
            </li>
            <li>
              <a id="redeployContainer" class="cursor-drop" href=""><i class="fa fa-rotate-left"></i><span class="m_left">重新部署</span></a>
            </li>
            <li>
              <a id="changeConfiguration" class="cursor-drop"><i class="fa fa-gear"></i><span class="m_left">更改配置</span></a>
            </li>
            <li>
              <a id="deleteButton" class="cursor-drop" href=""><i class="fa fa-trash-o"></i><span class="m_left">删除</span></a>
            </li>
          </ul>
          <!--<a href="http://doc.tenxcloud.com/doc/v1/faq/deploycode.html" target="_blank"><i class="fa fa-question-circle"></i> 如何部署代码</a>-->
          <div class="searchs">
            <form class="search-group-inner">
              <input class="start-search" type="text" placeholder="搜索">
            </form>
            <i class="fa fa-search" id="searchs"></i>
          </div>
        </div>
        <div class="aside-info">服务状态</div>
        <div class="content">
          <table class="table">
            <thead>
            <tr>
              <th>
                <div class="table-heade">
                  <table class="table">
                    <thead style="background: #F5F6F6;">
                    <tr><th style="width:5%;text-indent: 30px;"><input id="btnCheckAll" type="checkbox"></th>
                      <th style="width:20%;padding-left: 5px;">名 称</th>
                      <th style="width:10%;text-indent: 8px;">运行状态</th>
                      <th style="width:20%;">镜 像</th>

                      <th style="width:34%">服务地址<a role="button" data-trigger="focus" tabindex="0" data-container="article" data-toggle="popover" data-placement="bottom" data-content="运行状态变为&quot;运行中&quot;后便可使用容器服务，使用相应的工具访问服务地址，例如：<br>1.使用SSH工具登录操作系统：ssh -p 41231 root@ubuntu.tenxcloud.net<br>2.通过浏览器直接访问 http://open.tenxcloud.com<br>注意：如果是多端口容器，会链接到容器详情的&quot;端口&quot;页面，以便查看所有服务地址" class="hint-info" data-original-title="" title=""><i class="fa fa-question-circle"></i></a></th>
                      <th style="width:10%">创建于</th>
                    </tr></thead>
                  </table>
                </div>
              </th>
            </tr>
            </thead>
            <tbody id="dbtable" class="tenx_district3">
            <!--<tr class="show-tr" memory="256MB" id="inst_test">-->
              <!--<td>-->
                <!--<div class="contents-table">-->
                  <!--<table class="table">-->
                    <!--<tbody>-->
                    <!--<tr class="clusterId" id="test">-->
                      <!--<td style="width:5%;text-indent: 30px;">-->
                        <!--<input type="checkbox" name="chkItem" value="test" status="Stopped" imagename="nodejs" imagetag="latest">-->
                      <!--</td>-->
                      <!--<td style="width:20%;white-space:nowrap;">-->
                        <!--<b class="caret margin" style="-webkit-transform:rotate(-90deg);transform:rotate(-90deg);">-->
                        <!--</b>-->
                        <!--<a href="/containers/tenx_district3/cluster/test" class="cluster_mirrer_name">-->
                          <!--test-->
                        <!--</a>-->
                        <!--<span class="number-node">0</span>-->
                        <!--<span class="margin cursor console-code-modal hide" data-id="#console-code-modal">-->
                          <!--<i class="fa fa-desktop" onclick="_showConsole('test');"></i>-->
                        <!--</span>-->
                      <!--</td>-->
                      <!--<td style="width:10%" id="teststatus">-->
                        <!--<i class="fa_stop"></i>-->
                        <!--<span style="color: #DF582C">已停止</span>-->
                      <!--</td>-->
                      <!--<td style="width:20%;">-->
                        <!--<img src="https://dn-tenxstore.qbox.me/tenxcloud_nodejs.png?imageView2/2/h/20"-->
                             <!--style="max-height:20px;max-width:40px;">-->
                        <!--<span class="cluster_mirrer">-->
                          <!--<a title="点击查看镜像" target="_blank" href="https://hub.tenxcloud.com/repos/tenxcloud/nodejs">tenxcloud/nodejs</a>-->
                        <!--</span>-->
                      <!--</td>-->
                      <!--<td style="width:34%" id="testurl">-->
                        <!--<a href="/containers/tenx_district3/cluster/test?ports" class="cluster_mirrer_name hide">-->
                          <!--查看所有服务地址-->
                        <!--</a>-->
                        <!--<span class="urlStatus">-</span>-->
                      <!--</td>-->
                      <!--<td style="width:10%" class="tdTimeStrap">-->
                        <!--<input type="hidden" class="timeStrap" value="2016-04-01T01:43:17.000Z">-->
                        <!--<i class="fa_time">-->
                        <!--</i>-->
                        <!--<span>5 天前</span>-->
                      <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                  <!--</table>-->
                <!--</div>-->
              <!--</td>-->
            <!--</tr>-->
            </tbody>
          </table>
          <!--<div id="nodata" class="nodata" style="display: block;">提示：点击上方"+创建"按钮创建容器应用。</div>-->
          <!--<div class="mask" style="display: none;"><img src="/images/loading-little.gif"></div>-->
        </div>
      </div>
    </div>
  </article>

  <!--创建新服务-->





</div>