<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>零云 - 注册</title>
    <link rel="icon" type="image/z-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login-top.css">
    <link rel="stylesheet" href="/stylesheets/login.css">

    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/stylesheets/layer/layer.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/chat_room.js"></script>
</head>
<body>
<div id="wrapper">

    <header>
        <nav id="main-nav" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="toggle navbar-toggle collapsed" data-toggle="collapse"
                                data-target=".navbar-top-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/"><span class="logo"></span></a>
                    </div>
                    <div class="navbar-collapse navbar-top-collapse collapse" style="height: 1px;">
                        <ul class="nav navbar-nav navbar-right c_navbar">

                            <li><a href="/login" class="font_size login" id="llogin" style="padding:5px 15px">登 录</a>
                            </li>
                            <li><a href="/regist" class="font_size registry" id="register" style="padding:5px 15px">注
                                    册</a></li>

                        </ul>
                        <ul class="nav navbar-nav navbar-left z_navbar">
                            <li class="header-products"><a href="javascript:void(0);">服务中心</a>

                            </li>
                            <li class="header-solutions">
                                <a href="javascript:void(0);" target="_block">社区</a>
                            </li>
                            <li><a href="javascript:void(0);">文档</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <form method="post" action="/regist">
        <div class="form-signup">
            <div class="form-group">
                <p class="signup-title">注册</p>
            </div>
            <div class="form-group" style="position: relative">
                <div class="passwd-input">
                    <input id="inviteCode" type="text" name="inviteCode" placeholder="邀请码">
                    <span style="position: absolute;right: 8px;top: 0;width: 76px;font-size: 13px;color: #FF9500;">内测期间仅供持有邀请码用户注册</span>
                </div>
            </div>
            <div class="form-group">
                <div class="passwd-input">
                    <input id="email" type="email" name="email" placeholder="邮箱">
                </div>
            </div>
            <div class="form-group">
                <div class="passwd-input">
                    <input id="passwd" type="password" name="passwd" placeholder="密码">
                </div>
            </div>
            <div class="form-group">
                <div class="passwd-input">
                    <input id="confirmPwd" type="password" name="confirmPwd" placeholder="确认密码">
                </div>
            </div>
            <div class="form-group">
                <div class="signup-button">
                    <input type="submit" id="submit" value="注 册">
                    <input type="hidden">
                </div>
            </div>
            <div class="form-group">
                <a href="/login" id="login">切换到登录</a>
            </div>
        </div>
    </form>
</div>

<input id="status" type="hidden" value="<%= status %>">

<script>
    (function () {
        //提交注册
        $('#submit').click(function () {
            var e = $('#email').val();
            var p = $('#passwd').val();
            var cp = $('#confirmPwd').val();
            var i = $('#inviteCode').val();
            if (e == '' || p == '' || p.length < 6 || cp == '' || cp.length < 6 || i == '') {
                return false;
            } else if (p != cp) {
                return false;
            }
        });
        //邀请码验证
        $('#inviteCode').blur(function () {
            var inviteCode = $(this).val();
            if (!inviteCode || inviteCode.trim() === '') {
                layer.tips('邀请码不能为空', $(this), {tips: [1, '#EF6578']});
                return;
            }
        });
        // 邮箱验证
        $('#email').blur(function (event) {
            var email = $(this).val();
            if (!email || email.trim() === '') {
                layer.tips('邮箱不能为空', $(this), {tips: [1, '#EF6578']});
                return;
            }
            email = email.trim();
            if (email.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) !== -1) {
                if (email.length > 50) {
                    // $(this).siblings('span.m').html('邮箱长度不能大于50');
                    layer.tips('邮箱长度不能大于50', $(this), {tips: [1, '#EF6578']});
                }
                return;
            }
            layer.tips('请输入合法的邮箱', $(this), {tips: [1, '#EF6578']});
        });
        //密码验证
        $('#passwd').blur(function (event) {
            var html = $(this).val();
            if (html === '') {
                layer.tips('密码不能为空', $(this), {tips: [1, '#EF6578']});
            } else if (html.length < 6 || html.length > 30) {
                layer.tips('密码长度必须在6-30位数', $(this), {tips: [1, '#EF6578']});
            } else if (checkStrong(html) < 2) {
                layer.tips('密码过于简单，为了您的账户安全，请用数字、字母、特殊字符两种及以上的组合', $(this), {tips: [1, '#EF6578']});
            }
        });
        //二次密码
        $('#confirmPwd').blur(function (event) {
            var html = $(this).val();
            var password = $('#passwd').val();
            if (html === '') {
                layer.tips('请再次输入密码', $(this), {tips: [1, '#EF6578']});
            } else if (html !== password) {
                layer.tips('两次密码不一致', $(this), {tips: [1, '#EF6578']});
            }
        });

        //登录状态返回验证
        var status = $('#status').val();
        //console.log(status);
        if (status == '' || status == null) {

        } else {
            layer.msg(status);
        }

        //////////////////////////////////////////////////////////////////////
        //检测密码强度
        //////////////////////////////////////////////////////////////////////
        function checkStrong(sValue) {
            var modes = 0;
            //正则表达式验证符合要求的
            if (sValue.length < 1) return modes;
            if (/\d/.test(sValue)) modes++; //数字
            if (/[a-z]/.test(sValue)) modes++; //小写
            if (/[A-Z]/.test(sValue)) modes++; //大写
            if (/\W/.test(sValue)) modes++; //特殊字符

            //逻辑处理
            switch (modes) {
                case 1:
                    return 1;
                    break;
                case 2:
                    return 2;
                case 3:
                case 4:
                    return sValue.length < 12 ? 3 : 4
                    break;
            }
        }

        //期待更多
        $('.z_navbar li').on('click', function () {
            layer.msg('更多功能敬请期待！', {icon: 6});
        });
    })();
</script>
</body>
</html>