html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
#wrapper{width: 100%;height: 100%}
.none{display: none;}
.form-login,.form-signup{width: 500px;margin: 10% auto 0 auto;box-shadow: 0 0 10px rgba(0,0,0,0.3)}
.form-group{width: 100%;margin-bottom: 20px}
.form-group input{width: 300px;height: 40px;text-indent:15px}
.signup-title{height: 50px;line-height: 50px;font-size: 20px;text-align: center;border-bottom: 1px solid #ededed}
.username-input,.passwd-input,.signup-button,#signup,#login{width: 300px;height: 40px;margin: 0 auto}
.signup-button input{background: #00afdd;width: 300px;height: 40px;border-radius: 5px;color: white;font-size: 16px;border: none;cursor: pointer}
.signup-button input:hover{background: #008CD6;}
#signup,#login{color: #337ab7;font-size: 12px;cursor:pointer;display: block}
